<div class="header">
  <h1>Portland, OR</h1>
</div>
<div class="body">
  <div class="about">
    <h2><a routerLink="about">About</a></h2>
  </div>
  <div class="sale-group">
    <div class="housing">
      <h2><a routerLink="housing">Housing</a></h2>
      <ul>
        <li>Apts/Housing</li>
        <li>Housing Swap</li>
        <li>Housing Commercial</li>
        <li>Rooms/Shared</li>
        <li>Rooms Wanted</li>
        <li>Sublets/Temporary</li>
        <li>Vacation Rentals</li>
      </ul>
    </div>
    <div class="for-sale">
      <h2><a routerLink="for-sale">For Sale</a></h2>
      <ul>
        <li>Appliances</li>
        <li>Bikes</li>
        <li>Books</li>
        <li>Cars/Trucks</li>
        <li>Electronics</li>
        <li>Jewelry</li>
        <li>Tickets</li>
        <li>Wanted</li>
      </ul>
    </div>
  </div>
</div>
